.container {
    width: 100%;
    height: 104px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 20px 40px 20px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;

    h1 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .user-container {
        display: flex;
        align-items: center;
        gap: 16px;

        .help {
            width: 30px;
            height: 30px;
            font-size: 30px;
            color: #A8A8A8;
            cursor: pointer;
        }

        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            border: 3px solid #2A3647;
            cursor: pointer;
        }
    }
}