<div class="container">
    <div class="headline">
        <h1>Join 360</h1>
        <span class="subline"></span>
        <h2>Key Metrics at a Glance</h2>
    </div>
    <div class="content">
        <div class="tile-container">
            <!-- --- -->
            <div class="tiles1">
                <div class="tile todo">
                    <div class="tile-icon">
                        <mat-icon class="material-symbols-outlined help" fontIcon="edit"></mat-icon>
                    </div>
                    <div class="counts">
                        <span class="quantity">{{dashboardData.sum_todos}}</span>
                        <span class="tile-name">To Do</span>
                    </div>
                </div>

                <div class="tile done">
                    <div class="tile-icon">
                        <mat-icon class="material-symbols-outlined help" fontIcon="check"></mat-icon>
                    </div>
                    <div class="counts">
                        <span class="quantity">{{dashboardData.sum_done}}</span>
                        <span class="tile-name">Done</span>
                    </div>
                </div>
            </div>

            <!-- --- -->
            <div class="tiles2">
                <div class="tile">
                    <div class="urgent">
                        <div class="tile-icon">
                            <mat-icon class="material-symbols-outlined help" fontIcon="double_arrow"></mat-icon>
                        </div>
                        <div class="counts">
                            <span class="quantity">{{dashboardData.sum_urgent}}</span>
                            <span class="tile-name">Urgent</span>
                        </div>
                    </div>
                    <span class="subline-urgent"></span>
                    <div class="deadline">
                        <span class="deadline-date">{{ dashboardData.oldest_due_date }}</span>
                        <span class="deadline-text">Upcoming Deadline</span>
                    </div>
                </div>
            </div>

        <!-- --- -->
            <div class="tiles3">
                <div class="tile sum">
                    <div class="counts">
                        <span class="quantity">{{dashboardData.sum_tasks}}</span>
                        <span class="tile-name">Tasks in board</span>
                    </div>
                </div>

                <div class="tile progress">
                    <div class="counts">
                        <span class="quantity">{{dashboardData.sum_progress}}</span>
                        <span class="tile-name">Tasks in progress</span>
                    </div>
                </div>

                <div class="tile await">
                    <div class="counts">
                        <span class="quantity">{{dashboardData.sum_feedback}}</span>
                        <span class="tile-name">Awaiting feedback</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- --- -->
        <div class="greet">
            Good evening!
        </div>
    </div>
</div>