<div class="container">
    <img class="logo" src="/assets/img/logo_nav.svg" alt="">
    <nav>
        <ul>
            <li routerLink="/summary"><mat-icon class="material-symbols-outlined" fontIcon="space_dashboard"></mat-icon> Summary</li>
            <li routerLink="/add_task"><mat-icon class="material-symbols-outlined" fontIcon="edit_square"></mat-icon> Add task</li>
            <li routerLink="/board"><mat-icon class="material-symbols-outlined" fontIcon="view_week"></mat-icon> Board</li>
            <li routerLink="/contacts"><mat-icon class="material-symbols-outlined" fontIcon="perm_contact_calendar"></mat-icon> Contacts</li>

        </ul>
    </nav>

    <div class="informations">
        <ul>
            <li routerLink="/privacy-policy">Privacy Policy</li>
            <li routerLink="/legal-notice">Legal Notice</li>
        </ul>
    </div>
</div>